/* Global */
html {
  font-size: 16px;
}

body {
  background-color: #f8f8f8;
}

/* Navagation */

nav {
  height: 3.125rem;
  margin: 0;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

nav div img {
  height: 1.25rem;
}

nav div ul li a {
  font-family: "Roboto";
  font-size: 0.875rem;
  color: #4a4a4a;
}

 nav div ul li a:hover{
  color: #37c2aa;
}

@media only screen and (max-width:768px){
  nav div img {
    display: none;
  }

  nav {
    height: inherit;
  }

}

/* Jumbotron */

.jumbotron {
  margin-top: 3.125rem;
  padding: 0;
}

.jumbotron div div {
  height: 43.5rem;
  background-image: url('../images/jumbotron.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  text-align: center;
}

.jumbotron div div h1 {
  margin: 17rem 0 0 0;
  font-family: "Arbutus Slab";
  font-size: 3.75rem;
  color: #fff;
  background-color: #d404df;
  padding: 0.25rem 0;
}

.jumbotron div div p {
  font-family: "Roboto";
  font-size: 1.25rem;
  background-color: #f5cb07;
  padding: 0.5rem 0;
}

/* Quotes */

.quotes .quote1 {
  margin: 7rem auto 0 auto;
  width: 83%;
  font-family: "Droid Serif";
  font-size: 1.5rem;
  font-style: italic;
  color: #4a4a4a;
  line-height: 1.3;
}

.quotes .quote2 {
  margin: auto;
  width: 83%;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
  margin-top: 1rem;
}

.quotes .quote2 span {
  font-weight: 700;
}

@media only screen and (max-width:768px) {

  .quotes .quote1 p {
    margin: 4rem auto 0 auto;
  }

}

/* Features */

.features {
  width: 83%;
  margin: 9.25rem auto 0 auto;
  border-top: 1px solid #d4d5d6;
  text-align: center;
}

.features h2 {
  width: auto;
  position: relative;
  top: -1.75rem;
  /*background-color: #f8f8f8;*/
  font-family: "Arbutus Slab";
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.features .images {
  margin: 2.25rem 0 3rem 0;
}

.features .images div img {
  max-width: 100%;
}

@media only screen and (max-width:768px) {
  .features .images div {
    margin-bottom: 2rem;
  }
}

/* Team */

.team {
  background-color: #4a4a4a;
  padding: 5.5rem 0 7.25rem 0;
  text-align: center;
}

.team h2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Arbutus Stab";
}

.team .people div img {
  margin-top: 3.375rem;
  max-width: 100%;
}

.team .people div h3 {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 2rem 0 0 0;
}

.team .people div p {
  font-family: "Roboto";
  font-size: 0.875rem;
  color: #fff;
  margin-top: 0;
}

/* Clients */

.clients {
  width: 83%;
  margin: 9.25rem auto 0 auto;
  text-align: center;
  border-top: 1px solid #d4d5d6;
}

.clients h2 {
  width: auto;
  position: relative;
  top: -1.75rem;
  /*background-color: #f8f8f8;*/
  font-family: "Arbutus Slab";
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.clients .logos {
  margin: 5.5rem 0 2rem 0;
}

.clients .logos div img {
  margin-bottom: 2rem;
  max-width: 100%;
}

/* Footer */

footer {
  background-color: #e9ebeb;
  padding: 2.625rem 0 2rem 0;
  text-align: center;
}

footer .social-media{
  margin-bottom:1.5rem;
}

footer .copyright {
  text-align: center;
}

footer .copyright p{
  font-size: 0.75rem;
  color: #212123;
}
